/* COLORS */
$background: #272935;
$text: #F8F8F2;
$font: "Fira Code";

@font-face {
  font-family: 'Fira Code';
  src: url('https://github.com/tonsky/FiraCode/blob/master/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
}

#splash {
  background: $background !important;
  .splash-inner .splash-text > span.splash-status {
    color: $text !important;
    font-family: $font !important;
  }
}
