/* COLORS */
$background: #272935;
$text: #F8F8F2;
$font: "Source Sans Pro";

#splash {
  background: $background !important;
  .splash-inner .splash-text > span.splash-status {
    color: $text !important;
    font-family: $font !important;
  }
}
